*.exe
*.exe.manifest
*.pdb
*.pidb
*.suo
*.sdf
*.userprefs
*.sln.docstates
*.user
*.opensdf
*.sdf
bin
obj
.vs
/lib
/TestResults
local.properties
*ncrunchsolution*
out.txt
_ReSharper*
build
ipch/*
*.nupkg
packages/
*.t4properties
*.DS_Store
*.sln.ide
*.metaproj
*.tmp
*.ipch
*.cache
